<% layout("/Layouts/boilerplate")%>
<h5>All Listings</h5>
<body class="bodyindex">
  <form method="get" action="/listings/new"></form>
  <ul>
    <%for(let listing of alllistings){%>
    <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
    <%}%>
  </ul>
</body>
