.navbar {
  height: 5rem;
  background-color: rgb(255, 255, 255);
}
.fa-compass {
  color: rgb(101, 172, 163);
}
.nav-link {
  color: rgb(0, 0, 0) !important;
}
.f-info {
  text-align: center;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  background-color: rgb(194, 199, 199);
}
.f-info-terms a {
  text-decoration: none;
  color: black;
}
.f-info-terms a:hover {
  text-decoration: underline;
}
.f-info-socials {
  width: 100%;
  margin-top: 1rem;
  font-size: larger;
}
.f-info-terms {
  width: 100%;
  
}
.f-info-socials i {
  margin-right: 1.2rem;
}

.title {
  width: 100%;
  height: 2rem;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0px !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card {
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn {
  width: 100%;
}
.h5 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
