.navbar {
  height: 5rem;
  background-color: rgb(255, 255, 255);
}
.fa-compass {
  color: rgb(101, 172, 163);
}
.nav-link {
  color: rgb(0, 0, 0) !important;
}
.f-info {
  text-align: center;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  background-color: rgb(194, 199, 199);
}
.f-info-terms a {
  text-decoration: none;
  color: black;
}
.f-info-terms a:hover {
  text-decoration: underline;
}
.f-info-socials {
  width: 100%;
  margin-bottom: 1rem;

  font-size: larger;
}
.f-info-terms {
  width: 100%;
  margin-bottom: 1rem;
}
.f-info-socials i {
  margin-right: 1.2rem;
}

.title {
  width: 100%;
  height: 2rem;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0px !important;
}
.card-text p {
  font-weight: 400 !important;
}
